.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 2px auto 0;
    padding: 32px;
    position: relative;
    width: 95%;
}
.getDoc{
    display: block;
    position: relative;
    text-align: right;
  }